html,
body {
    margin: 0;
    padding: 0;
    background-color: #FBFBFE;
    font-family: "Inter", sans-serif;
    height: 100%;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

// Universal Styles

.m-0 {
    margin: 0;
}

.td-none {
    text-decoration: none;
    color: inherit;
}

// Header

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px 0 0;
}

.article-main {
    margin: 0px 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .article-content {
        width: 60%;
    }

    .article-recommendations {
        width: 25%;

        .recommended-title {
            font-size: 16px;
            color: #68696B;
            margin-bottom: 16px;
        }

        .article-card {
            cursor: pointer;
        }
    }
}

.article-next-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 16px;
    border: 1px solid #E5E5E5;
    border-radius: 16px;
    margin-bottom: 16px;
    transition-duration: 300ms;
    cursor: pointer;

    &:hover {
        background-color: #F3F3F3;
    }

    &:active {
        scale: 0.98;
        background-color: #ECECEC;
    }

    .article-button {
        display: flex;
        padding: 16px;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #E5E5E5;

        span {
            color: #050315;
            font-size: 24px;
        }
    }

    h3,
    p {
        margin: 0px;
        padding: 0px;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 4px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #68696B;
        line-height: 20px;
    }
}

// Nav and Footer

.nav-menu {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.92);
    position: fixed;
    transition-duration: 400ms;
    pointer-events: none;

    &.show {
        opacity: 1; /* Fully visible */
        visibility: visible;
        pointer-events: auto; /* Make interactable */
    }

    a {
        text-decoration: none;
        font-size: 32px;
        color: #050315;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Hamburger

.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 120;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

// Navigation and Footer

nav,
footer {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;

    .nav-actions {
        display: none;
        align-items: center;    
    }

    .nav-logo {
        z-index: 200;
        height: 20px;
    }

    .search-box {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 4px;
        box-sizing: border-box;
    }

    .nav-search {
        width: 30vw;
        display: flex;
        align-items: center;

        .nav-top {
            z-index: 120;
        }

        .search-container {
            width: 100%;
            position: relative;
            display: inline-flex;
            align-items: center;
        }

        .search-icon {
            position: absolute;
            left: 14px;
            color: #666;
            font-size: 20px;
        }

        .nav-logo {
            margin-right: 24px;
        }
    }

    .nav-links {
        display: flex;

        a {
            font-size: 16px;
            font-weight: 500;
            color: #050315;
            text-decoration: none;
            cursor: pointer;
            margin-right: 0px;
            transition-duration: 300ms;
            padding: 8px 16px;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom-color: #2F27CE;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

footer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: #141619;

    .footer-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo {
        margin-right: 8px;
        color: #C4C5C6;
    }

    .nav-links a,
    p {
        color: #E5E5E5;
        font-size: 16px;
    }

    .nav-links a {
        text-decoration: none;
        cursor: pointer;
        transition-duration: 300ms;

        &:hover {
            color: #2F27CE;
        }
    }
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }

    p {
        width: 80%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-top: 8px;
        color: #68696B;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: start;
}

// Cards

.articles-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.article-card {
    display: flex;
    padding: 20px 16px;
    border: 1px solid #E5E5E5;
    border-radius: 16px;
    margin-bottom: 16px;
    transition-duration: 300ms;

    &:hover {
        background-color: #F3F3F3;
    }

    &:active {
        scale: 0.98;
        background-color: #ECECEC;
    }

    .article-icon-box {
        display: flex;
        padding: 16px;
        align-items: center;
        border-radius: 16px;
        margin-right: 16px;

        span {
            color: #050315;
            font-size: 24px;
        }
    }

    h3,
    p {
        margin: 0px;
        padding: 0px;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 6px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: #68696B;
        line-height: 20px;
    }
}

// Breadcrumbs

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 16px;

    a {
        font-size: 16px;
        font-weight: 500;
        color: #141619;
        text-decoration: none;
        cursor: pointer;
        transition-duration: 300ms;

        &:hover {
            color: #2F27CE;
        }

        &:last-child {
            color: #050315;
        }
    }

    span {
        font-size: 16px;
        font-weight: 400;
        color: #68696B;

        &.separator {
            margin: 0px 8px;
        }
    }
}

// Search Bar

#search-bar {
    width: 100%;
    font-size: 16px;
    padding: 10px 16px;
    padding-left: 40px;
    margin-bottom: 0;
    border: 1px solid #C4C5C6;
    border-radius: 32px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    transition-duration: 200ms;

    &:active,
    &:focus {
        outline: none;
        box-shadow: rgba(12, 12, 46, 0.10) 0px 48px 100px 0px;
    }

    &.expanded {
        border-radius: 16px 16px 0 0;
    }
}

.articles-list {
    position: relative;
}

#article-list {
    background-color: #FBFBFE;
    width: 100%;
    border: 1px solid #C4C5C6;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 8px 0px;
    position: absolute;
    top: 40px;
    list-style: none;
    margin: 0;
    box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
    display: none;

    &.expanded-list {
        border-radius: 0px 0px 16px 16px;
        border-top: 0px;
    }
}

#article-list li {
    box-sizing: border-box;
    background-color: #FBFBFE;
    cursor: pointer;

    &:hover {
        background-color: #F3F3F3;
    }

    &:last-child {
        border-radius: 0 0 8px 8px;
    }
}

#article-list a {
    color: #141619;
    text-decoration: none;
}

#article-list a .article-search-box {
    padding: 0px 16px;
    display: flex;
    align-items: center;

    p {
        font-size: 14px;
        color: #141619;
    }
}

// Markdown styles

.markdown-content {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    border-radius: 8px;
    max-width: 800px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
    color: #2c3e50;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
}

.markdown-content h2 {
    margin-top: 0.5em;
}

.markdown-content p {
    margin-bottom: 1em;
}

.markdown-content a {
    color: #3498db;
    text-decoration: underline;
}

.markdown-content ul,
.markdown-content ol {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

// About Us

.landing-about {
    align-items: center;
    padding: 24px 48px;
    box-sizing: border-box;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .tech-intro {
            display: flex;
            flex-direction: column;
        }
        
        .image-intro {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 32px;
            width: 300px;
            height: 300px;
            animation-name: sphereRotate;
            animation-duration: 12s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes sphereRotate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        h1 {
            font-size: 56px;
            font-weight: 600;
            text-align: start;
            margin-bottom: 16px;
        }

        p {
            width: 40vw;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .our-team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;

        .team-title {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 32px;
        }

        .team-members {
            display: flex;
        }

        .team-card {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            width: 25vw;
            margin-right: 32px;
            
            &:last-child {
                margin-right: 0;
            }

            img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
                width: 100%;
            }
        }

        .team-info {
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 24px;
            width: 100%;
            box-sizing: border-box;

            .role {
                margin-right: 16px;

                h3 {
                    color: #050315;
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    margin-top: 0px;
                }

                p {
                    color: #68696B;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0px;
                }
            }

            .team-social {
                display: flex;
                align-items: center;

                img {
                    width: 28px;
                }

                a {
                    text-decoration: none;
                    margin-right: 12px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// 404 Page

.missing-landing {
    padding: 24px 0px 32px;
}

.missing-landing .container {
    h1 {
        font-size: 48px;
        margin: 4px;
    }

    p {
        font-size: 24px;
        color: #68696B;
        margin: 8px 0px 24px;
    }

    .picture {
        width: 300px;
    }
    
    .back-button {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 10px 16px;
        background-color: #050315;
        color: #E5E5E5;
        border-radius: 24px;

        span {
            margin-right: 4px;
        }

        p {
            font-size: 14px;
            color: #E5E5E5;
            margin: 0;
        }
    }
}

// Responsiveness

@media only screen and (max-width: 1200px) {
    .article-main .article-recommendations {
        width: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    header,
    main {
        width: 80vw;
    }

    nav .nav-search {
        width: 40vw;
    }

    .articles-list {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
    }

    .landing-about {
        .our-team .team-card {
            width: 30vw;

            .team-info {
                .role {
                    margin-right: 16px;
    
                    h3 {
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }    

                .team-social img {
                    width: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .landing-about {
        .our-team .team-card {
            margin-right: 16px;
            width: 30vw;

            .team-info {
                flex-direction: column;

                .team-social {
                    margin-top: 16px;
                }
            }
        }
    }

    .article-main {
        .article-recommendations {
            display: none;
        }

        .article-content {
            width: 100%;
        }
    }

    nav .nav-actions {
        display: flex;  
    }

    nav .nav-search {
        width: 60vw;
    }

    nav .nav-links {
        display: none;
    }

    .ham {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    header {
        p {
            font-size: 20px;
            width: 100%;
            margin-top: 0px;
        }
    }

    nav, footer {
        padding: 32px 24px;
    }

    nav {
        .search-box {
            display: flex;
            margin-right: 16px;
        }

        .nav-search .search-container {
            display: none;
        }

        .nav-search .nav-logo {
            margin-left: 16px;
        }
    }

    .articles-list {
        width: 80vw;
    }

    footer .footer-logo {
        flex-direction: column;
        align-items: start;
        margin-left: 16px;

        .nav-logo {
            margin-top: 16px;
        }
    }

    // About Us

    .landing-about {
        padding: 24px 32px;

        header {
            flex-direction: column;
            align-items: center;

            .image-intro {
                display: none;
            }

            h1 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                width: 80vw;
            }
        }

        .our-team {
            .team-members {
                flex-direction: column;
                width: 100%;
            }

            .team-card {
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}