html,
body {
  margin: 0;
  padding: 0;
  background-color: #FBFBFE;
  font-family: "Inter", sans-serif;
  height: 100%;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.m-0 {
  margin: 0;
}

.td-none {
  text-decoration: none;
  color: inherit;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 0 0;
}

.article-main {
  margin: 0px 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.article-main .article-content {
  width: 60%;
}
.article-main .article-recommendations {
  width: 25%;
}
.article-main .article-recommendations .recommended-title {
  font-size: 16px;
  color: #68696B;
  margin-bottom: 16px;
}
.article-main .article-recommendations .article-card {
  cursor: pointer;
}

.article-next-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  margin-bottom: 16px;
  transition-duration: 300ms;
  cursor: pointer;
}
.article-next-card:hover {
  background-color: #F3F3F3;
}
.article-next-card:active {
  scale: 0.98;
  background-color: #ECECEC;
}
.article-next-card .article-button {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #E5E5E5;
}
.article-next-card .article-button span {
  color: #050315;
  font-size: 24px;
}
.article-next-card h3,
.article-next-card p {
  margin: 0px;
  padding: 0px;
}
.article-next-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}
.article-next-card p {
  font-size: 16px;
  font-weight: 400;
  color: #68696B;
  line-height: 20px;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.92);
  position: fixed;
  transition-duration: 400ms;
}
.nav-menu a {
  text-decoration: none;
  font-size: 32px;
  color: #050315;
  margin-bottom: 16px;
}
.nav-menu a:last-child {
  margin-bottom: 0;
}

.ham {
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 120;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

nav,
footer {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
}
nav .nav-logo,
footer .nav-logo {
  z-index: 200;
  height: 20px;
}
nav .nav-search,
footer .nav-search {
  width: 30vw;
  display: flex;
  align-items: center;
}
nav .nav-search .search-container,
footer .nav-search .search-container {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
}
nav .nav-search .search-icon,
footer .nav-search .search-icon {
  position: absolute;
  left: 14px;
  color: #666;
  font-size: 20px;
}
nav .nav-search .nav-logo,
footer .nav-search .nav-logo {
  margin-right: 24px;
}
nav .nav-links,
footer .nav-links {
  display: flex;
}
nav .nav-links a,
footer .nav-links a {
  font-size: 16px;
  font-weight: 500;
  color: #050315;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0px;
  transition-duration: 300ms;
  padding: 8px 16px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
nav .nav-links a:hover,
footer .nav-links a:hover {
  border-bottom-color: #2F27CE;
}
nav .nav-links a:last-child,
footer .nav-links a:last-child {
  margin-right: 0;
}

footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #141619;
}
footer .footer-logo {
  display: flex;
  align-items: center;
}
footer .nav-logo {
  margin-right: 8px;
  color: #C4C5C6;
}
footer .nav-links a,
footer p {
  color: #E5E5E5;
  font-size: 16px;
}
footer .nav-links a {
  text-decoration: none;
  cursor: pointer;
  transition-duration: 300ms;
}
footer .nav-links a:hover {
  color: #2F27CE;
}

header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
header p {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  color: #68696B;
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.articles-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.article-card {
  display: flex;
  padding: 20px 16px;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  margin-bottom: 16px;
  transition-duration: 300ms;
}
.article-card:hover {
  background-color: #F3F3F3;
}
.article-card:active {
  scale: 0.98;
  background-color: #ECECEC;
}
.article-card .article-icon-box {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 16px;
  margin-right: 16px;
}
.article-card .article-icon-box span {
  color: #050315;
  font-size: 24px;
}
.article-card h3,
.article-card p {
  margin: 0px;
  padding: 0px;
}
.article-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.article-card p {
  font-size: 14px;
  font-weight: 400;
  color: #68696B;
  line-height: 20px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.breadcrumbs a {
  font-size: 16px;
  font-weight: 500;
  color: #141619;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 300ms;
}
.breadcrumbs a:hover {
  color: #2F27CE;
}
.breadcrumbs a:last-child {
  color: #050315;
}
.breadcrumbs span {
  font-size: 16px;
  font-weight: 400;
  color: #68696B;
}
.breadcrumbs span.separator {
  margin: 0px 8px;
}

#search-bar {
  width: 100%;
  font-size: 16px;
  padding: 10px 16px;
  padding-left: 40px;
  margin-bottom: 0;
  border: 1px solid #C4C5C6;
  border-radius: 32px;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  transition-duration: 200ms;
}
#search-bar:active, #search-bar:focus {
  outline: none;
  box-shadow: rgba(12, 12, 46, 0.1) 0px 48px 100px 0px;
}
#search-bar.expanded {
  border-radius: 16px 16px 0 0;
}

.articles-list {
  position: relative;
}

#article-list {
  background-color: #FBFBFE;
  width: 100%;
  border: 1px solid #C4C5C6;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 8px 0px;
  position: absolute;
  top: 40px;
  list-style: none;
  margin: 0;
  box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
  display: none;
}
#article-list.expanded-list {
  border-radius: 0px 0px 16px 16px;
  border-top: 0px;
}

#article-list li {
  box-sizing: border-box;
  background-color: #FBFBFE;
  cursor: pointer;
}
#article-list li:hover {
  background-color: #F3F3F3;
}
#article-list li:last-child {
  border-radius: 0 0 8px 8px;
}

#article-list a {
  color: #141619;
  text-decoration: none;
}

#article-list a .article-search-box {
  padding: 0px 16px;
  display: flex;
  align-items: center;
}
#article-list a .article-search-box p {
  font-size: 14px;
  color: #141619;
}

.markdown-content {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  border-radius: 8px;
  max-width: 800px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  color: #2c3e50;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

.markdown-content h2 {
  margin-top: 0.5em;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content a {
  color: #3498db;
  text-decoration: underline;
}

.markdown-content ul,
.markdown-content ol {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
  header,
  main {
    width: 80vw;
  }
  nav .nav-search {
    width: 40vw;
  }
  .articles-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
}
@media only screen and (max-width: 800px) {
  nav .nav-search {
    width: 60vw;
  }
  nav .nav-links {
    display: none;
  }
  .ham {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */